## Tuples 

- String is a collection character
- Tuples is a collection of homogeneous and heterogeneous datatypes
- Another variable or collection we can create that is called tuples.
- What is Tuples?
- It can hold multiple elements at a time. a = (1,2,3,4,5)
- 
- How tuples is different from list?
- Notation bracket and square bracket
- Lists are mutable and tuples are immutable

In [1]:
a = (1,2,3,4,5)

In [2]:
type(a)

tuple

In [3]:
t1 = ("advi", 345, 45+34j, 45.34, True)

In [4]:
l = ["advi", 345, 45+34j, 45.34, True ]

In [5]:
type(t1),type(l)

(tuple, list)

In [6]:
t2 = ()

In [7]:
type(t2)

tuple

In [8]:
# Operation in Tuples 
# Slicing operation is same as in the list

In [9]:
t1,t1[0:2]

(('advi', 345, (45+34j), 45.34, True), ('advi', 345))

In [10]:
# Reverse order 
t1[::-1],t1[-1]

((True, 45.34, (45+34j), 345, 'advi'), True)

In [11]:
t1[0::2]

('advi', (45+34j), True)

In [12]:
l

['advi', 345, (45+34j), 45.34, True]

In [13]:
l1 = [4,5,6,7]

In [14]:
l[0]= "kumar"

In [15]:
l

['kumar', 345, (45+34j), 45.34, True]

In [16]:
t1

('advi', 345, (45+34j), 45.34, True)

In [17]:
t1[0]= "avb"
# Tuples are immutable reassignment at particular index is not possible.

TypeError: 'tuple' object does not support item assignment

In [ ]:
t1

('advi', 345, (45+34j), 45.34, True)

In [ ]:
t2 = (23,34,45,56,78,98,65,54)

In [ ]:
# Append operation is similar to lists
t1+t2

('advi', 345, (45+34j), 45.34, True, 23, 34, 45, 56, 78, 98, 65, 54)

In [ ]:
l

['kumar', 345, (45+34j), 45.34, True]

In [ ]:
l1

[4, 5, 6, 7]

In [ ]:
l+l1

['kumar', 345, (45+34j), 45.34, True, 4, 5, 6, 7]

In [ ]:
t1*2

('advi', 345, (45+34j), 45.34, True, 'advi', 345, (45+34j), 45.34, True)

In [ ]:
t1

('advi', 345, (45+34j), 45.34, True)

In [ ]:
t1.count(345)

1

In [ ]:
# There are two primary operations count and index 
# AS tuples are immutable
t1.index(345)

1

In [ ]:
# Why we need tuples when we already have list or why do we use tuples
# data security e.g. gmail account password where someone else cant change the password as it is stored in tuples
# in databases tuples are used
# where we have fixed size of data

In [ ]:
t1

('advi', 345, (45+34j), 45.34, True)

In [ ]:
t = (('advi', 345, (45+34j), 45.34, True),"adi")

In [ ]:

t

(('advi', 345, (45+34j), 45.34, True), 'adi')

In [18]:
# type casting 
l,t1

(['kumar', 345, (45+34j), 45.34, True], ('advi', 345, (45+34j), 45.34, True))

In [19]:
tuple(l)

('kumar', 345, (45+34j), 45.34, True)

In [20]:
list(t1)

['advi', 345, (45+34j), 45.34, True]

### Set

- Set is a collection which will try to hold the unique values. 
- When there is no element in a set it is a dictionary.

In [23]:
l2 = [1,2,3,4,5,6,7,8,4,4,4,4,5,5,5,5,5,6,1,1,1,1,1,2,2,2,2,2,4,4,4,4]

In [25]:
# Can you please try to remove all the duplicate elements from the above list or unique numbers

set(l2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [26]:
s = {}
# If it is null it is a dictionary

In [27]:
type(s)

dict

In [28]:
s1 = {2,2,3,4}

In [29]:
type(s1)

set

In [30]:
s2 = {1,1,1,1,1,2,2,2,2,3,3,3,3,4,44,4,4,4}
# by default it will remove the duplicate element from the set

In [31]:
s2

{1, 2, 3, 4, 44}

In [33]:
s2[2]

TypeError: 'set' object is not subscriptable

In [34]:
list(s2)

[1, 2, 3, 4, 44]

In [35]:
s2.add(23)

In [36]:
s2

{1, 2, 3, 4, 23, 44}

In [37]:
s2.add("adi")

In [38]:
s2

{1, 2, 23, 3, 4, 44, 'adi'}

In [40]:
s2.add([3,4,5,6])
# inside set only set is possible
# set only holds unordered collection of unique elements

TypeError: unhashable type: 'list'

In [41]:
{(3,4,5,6), (3,4,5,6), 3,4,5,6,7}

{(3, 4, 5, 6), 3, 4, 5, 6, 7}

In [42]:
s

{}

In [44]:
s = {(3,4,5,6), (3,4,5,6), 3,4,5,6,7}

In [45]:
s.remove(4)

In [46]:
s

{(3, 4, 5, 6), 3, 5, 6, 7}

In [47]:
s.discard(5)

In [48]:
s

{(3, 4, 5, 6), 3, 6, 7}

In [49]:
# difference between discard and remove 
# trying to remove 45 which is not in the list

s.remove(45)

KeyError: 45

In [50]:
s.discard(45)

In [51]:
s

{(3, 4, 5, 6), 3, 6, 7}

In [52]:
# Set is an unordered collection of element.

In [55]:
{"sudh", "sudh", "Sudh"}
# it is case sensitive

{'Sudh', 'sudh'}

### Dictionary

- Here you are giving name to your indexes
- Here you can create a key with your own name.
- key with special character will not work.
- You can store list, string, tuples, set etc. 
- wh

In [56]:
d = {4,5,6,7,67,3,4,5,6,7,"sudh", "sudh"}

In [57]:
d

{3, 4, 5, 6, 67, 7, 'sudh'}

In [58]:
d = {4:"sudh"}

In [59]:
# 4 is a key
# "sudh" is a value

In [60]:
d1 = {"key1":5445, "key2": "sudh", "key3":[3,4,5,6], 45: [4,3,3,2]}

In [61]:
d1

{'key1': 5445, 'key2': 'sudh', 'key3': [3, 4, 5, 6], 45: [4, 3, 3, 2]}

In [65]:
d1['key1'], d1[45]

(5445, [4, 3, 3, 2])

In [67]:
d3 = {3: ["sdsdfs" , "dfsd", 4,5,6,7]}

In [68]:
d3 = {"key1" : [2,3,4,5], "key2": "advi", "key1":499}

In [69]:
# it will take the most recent key value if the key value is duplicate 
# it will not give an error. 
# so key value should be unique
d3["key1"]

499

In [70]:
d4 = {"+++": "venu"}

In [77]:
d5 = {'name': "Adviteeya", "mob" : 3453453453, "mail_id": "sdfasdf@gmail.com" , "key1": [3,4,5,6] , "key2": {1:4,4:5}  }

In [78]:
d5

{'name': 'Adviteeya',
 'mob': 3453453453,
 'mail_id': 'sdfasdf@gmail.com',
 'key1': [3, 4, 5, 6],
 'key2': {1: 4, 4: 5}}

In [75]:
d5['key1']

[3, 4, 5, 6]

In [76]:
type(d5['key1'])

list

In [80]:
d5.values()

dict_values(['Adviteeya', 3453453453, 'sdfasdf@gmail.com', [3, 4, 5, 6], {1: 4, 4: 5}])

In [82]:
d5.items()

dict_items([('name', 'Adviteeya'), ('mob', 3453453453), ('mail_id', 'sdfasdf@gmail.com'), ('key1', [3, 4, 5, 6]), ('key2', {1: 4, 4: 5})])

In [83]:
type(d5.items())

dict_items

In [87]:
d5[('key2')][1]

4

In [88]:
d

{4: 'sudh'}

In [89]:
d["key2"] = "kumar"

In [90]:
d

{4: 'sudh', 'key2': 'kumar'}

In [91]:
d[4] = "asdfasdf"

In [92]:
d

{4: 'asdfasdf', 'key2': 'kumar'}

In [93]:
# How to change the name of the key 
# You can delete the key and re