In [1]:
def test(a,b,c,d,e):
    return a,b,c,d,e

In [2]:
test(23,45,56,34,23)

(23, 45, 56, 34, 23)

In [3]:
# Write a function which will be able to pass any no. of arguements 
# there is a way by which we can pass any no. of arguements
# *args with this you can pass any no. of arguements any time
#

In [4]:
def test1(*args):
    return args

In [5]:
test1(324,43,23)

(324, 43, 23)

In [6]:
test1([1,3,4,5,5], "asdfasdf", 3423+5j)

([1, 3, 4, 5, 5], 'asdfasdf', (3423+5j))

In [7]:
# With the help of this we will be able to pass any no. of arguements
# * means takes multiple arguements

In [8]:
def test2(*adi):
    return adi

In [9]:
test2("asdfasdf",34,34,23,23,32)

('asdfasdf', 34, 34, 23, 23, 32)

In [10]:
# *args is just a standard notation we can use any name insteady of args 
# We can use * we can pass any no of arguemnents

In [11]:
# In case we need to pass any specific arguements
def test3(*adi, a):
    return adi, a

In [12]:
test3(23,23,23)

TypeError: test3() missing 1 required keyword-only argument: 'a'

In [13]:
# How to fix the above problem
test3(342,232,232, a = 23423)

((342, 232, 232), 23423)

In [14]:
def test4(*adi, a,b,c,d,e):
    return adi,a,b,c,d,e

In [16]:
test4("adviteeya", 23,324, a= [2,3,4,5,5], b= {34,56,323,23}, c = "shrav", d = (34.56,232.345), e = 4+7j)

(('adviteeya', 23, 324),
 [2, 3, 4, 5, 5],
 {23, 34, 56, 323},
 'shrav',
 (34.56, 232.345),
 (4+7j))

In [17]:
def test5(a, *sudh, b, c):
    return a, sudh,b,c

In [18]:
test5("sandy", [23423,23,232,234], 23,2385, b= "dafdsf", c = [23,2,3,23])

('sandy', ([23423, 23, 232, 234], 23, 2385), 'dafdsf', [23, 2, 3, 23])

In [23]:
# Create a function where use can pass anything. If the user pass list then it should return only list

def test6(*args):
    # args kept everything insdie the tuples 
    for i in args:
        if type(i) == list:
            return i

In [24]:
test6("asdfasd",34,45,23,[34,56,23,90], (34,45,34))

[34, 56, 23, 90]

In [25]:
#test6("asdfasd",34,45,23,[34,56,23,90], [45,23,32,45],(34,45,34))
# this function is only returning only list
# why we are not using print function because it will only return none type 
# return type is none type in case of print 
# below is the fix

[34, 56, 23, 90]

In [30]:
def test7(*args):
    # args kept everything insdie the tuples 
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [31]:
test7("asdfasd",34,45,23,[34,56,23,90], [45,23,32,45],(34,45,34))

[[34, 56, 23, 90], [45, 23, 32, 45]]

In [32]:
# Create a function which create n no. of function with key value pair 
d = {"a": [2,3,4,5,6], 7: [2,3,4,5]}

In [34]:
d, d["a"]

({'a': [2, 3, 4, 5, 6], 7: [2, 3, 4, 5]}, [2, 3, 4, 5, 6])

In [35]:

def test8(**kwargs):
    return kwargs
# Any kind of key value data we can pass
# kwargs is a Key value arguements 
# It just a notation we can also use our name

In [36]:
test8(23,23,32,23,23,23)

TypeError: test8() takes 0 positional arguments but 6 were given

In [39]:
test8(first_name ="Adviteeya", last_name = "Shrav")

{'first_name': 'Adviteeya', 'last_name': 'Shrav'}

In [40]:
def test9(**adi):
    return adi

In [41]:
test9(a = 34,b = 343, c= 89, d= [2,3,4,5,6])

{'a': 34, 'b': 343, 'c': 89, 'd': [2, 3, 4, 5, 6]}

In [42]:
# To fill all the personal information ( generic information) like name, age etc. 

def test10(**adi):
    return adi

In [43]:
test10(name = "adi", age = "33", phone_number = "2323", mail_id = "asd@gmail.com", adress = 12123423)

{'name': 'adi',
 'age': '33',
 'phone_number': '2323',
 'mail_id': 'asd@gmail.com',
 'adress': 12123423}

In [44]:
def test11(a, **adi):
    return a, adi

In [47]:
test10(a = 34, b = "sadf", c = 234, d = [34,34,34,34])

{'a': 34, 'b': 'sadf', 'c': 234, 'd': [34, 34, 34, 34]}

In [50]:
def test12(a, *args, **kwargs):
    return a, args, kwargs

In [51]:
test12(23, 34,56,868,34,45,34, b = "asdf", c = 345)

(23, (34, 56, 868, 34, 45, 34), {'b': 'asdf', 'c': 345})

In [52]:
# Create anonymus function to perform small tasks which takes some input and return an output

# Like lamda function e.g. which takes two variables and retruns multiple of two variables
def test13(a,b):
    return a*b

In [53]:
test13(34,34)

1156

In [54]:
lambda a, b : a*b

In [55]:
# Its a reserved keyword
# How to pass the values 
# Save function as a normal variable
a = lambda a,b : a*b

In [57]:
a(2,3)

6

In [58]:
a = lambda a,b : (a*b , a+b)

In [59]:
a(3,4)

(12, 7)

In [60]:
a = lambda *a:a

In [61]:
a(34,3,4,34,34,34)

(34, 3, 4, 34, 34, 34)

In [67]:
x = lambda x : [print(i) for i in x]

In [70]:
x([2,3,4,5,6])

2
3
4
5
6

[None, None, None, None, None]

In [2]:
l = [1,2,3,4,5,7]

In [3]:
[i for i in l]

[1, 2, 3, 4, 5, 7]

In [4]:
x = lambda x: [i for i in x]

In [5]:
x([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [6]:
a = lambda **kwargs : kwargs

In [7]:
a(a = 8, b = 9)

{'a': 8, 'b': 9}

In [8]:
 a = 10

In [9]:
def test14(c,d):
    return c*d

In [10]:
test14(a,3)

30

In [11]:
# a is an external value which is being called in the function 
# a is available outside

In [12]:
def test14(c,d):
    a = 5
    return c*d

In [13]:
test14(a,6)

60

In [14]:
# a is available outside which is taking in a function

In [24]:
c =10
# c is a global declaration 
def test14(c,d):
    c = 5
    # this c is a local variable 
    # this c is not valid outside the function 
    return c*d

In [27]:
test14(10,4)
# here local variable of c is taken into consideration

20

In [28]:
c

10

In [29]:
# local variable 
# global variable

In [4]:
# comprehnesion operation 

l = [ 1,2,3,4,5,6,8]
# try to go through the entre list and add 2 in each and every element

In [5]:
l1 = []
for i in l:
    l1.append(i+2)

In [6]:
l1

[3, 4, 5, 6, 7, 8, 10]

In [7]:
def test15(a):
    l1 = []
    for i in a:
        l1.append(i+2)
    return l1

In [8]:
test15(l)

[3, 4, 5, 6, 7, 8, 10]

In [9]:
# While using lambda 
a = lambda a : [i+2 for i in a]

In [10]:
a(l)

[3, 4, 5, 6, 7, 8, 10]

In [11]:
l

[1, 2, 3, 4, 5, 6, 8]

In [12]:
# List comprehension
# If you want final outcome as a list  
[(i+2,i**2) for i in l]

[(3, 1), (4, 4), (5, 9), (6, 16), (7, 25), (8, 36), (10, 64)]

In [13]:
[(i+2,i**2) for i in l if i<4]
# output on left side and logic on right side

[(3, 1), (4, 4), (5, 9)]

In [14]:
l

[1, 2, 3, 4, 5, 6, 8]

In [17]:
[(i+2,i**2,i**3,i**4) for i in l]

[(3, 1, 1, 1),
 (4, 4, 8, 16),
 (5, 9, 27, 81),
 (6, 16, 64, 256),
 (7, 25, 125, 625),
 (8, 36, 216, 1296),
 (10, 64, 512, 4096)]

In [18]:
# IF else kind of condition 
[(i+2,i**2,i**3,i**4) for i in l if i <4]

# Return on left side and condition or procedure right side

[(3, 1, 1, 1), (4, 4, 8, 16), (5, 9, 27, 81)]

In [21]:
[(i,i*2) for i in l if i <3]

[(1, 2), (2, 4)]

In [23]:
l2 = []
for i in l:
    if i <4:
        l2.append((i**2,i+1))

In [24]:
l2

[(1, 2), (4, 3), (9, 4)]

In [25]:
# Create a dictionary d key is a no. and its value is the square of key value

{i:i**2 for i in range(10) }

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [26]:
d1 = {}
for i in range(10):
    d1[i]= i**2

In [27]:
d1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [28]:
# Tuple comprehension
(i for i in range(10))
# Generator object 
# How to get  avalue

In [29]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)