## IF ELSE STATEMENT    

-

In [10]:
a = 10

In [11]:
# 
if a < 15 :
    print("my name is adviteeya")

my name is adviteeya

In [12]:
a<15

True

In [13]:
# pass stmt.
if a < 15 : 
    pass

In [14]:
# Make sure that you maintain the indentation in the if_else stmt. 
# So that we can maintain a block
if 24 < 14:
    print("my name is adi")

In [15]:
# if conditional stmt. to control the flow of a program. 
if 10<2:
    print("10 is lesser than 3")
else:
    print("if statement is wrong")

if statement is wrong

In [16]:
if 1<2:
    print("1 is lesser than 2")
else:
    print("if statement is wrong")

1 is lesser than 2

In [17]:
# Multiple conditional stmt. 
income = 100
if income < 50 :
    print("i will be able to buy phone")
elif income < 70 :
    print("i will be able to buy car")
elif income < 90:
    print("i will be able to buy house")
elif income < 70 :
    print("i will be able to buy car")
else:
    print("i will not be able to buy anything")

i will not be able to buy anything

In [18]:
# Input is trying to take string data
# Multiple conditional stmt. 
income = int(input())
if income < 50 :
    print("i will be able to buy phone")
elif income < 70 :
    print("i will be able to buy car")
elif income < 90:
    print("i will be able to buy house")
elif income < 70 :
    print("i will be able to buy car")
else:
    print("i will not be able to buy anything")

i will be able to buy phone

In [19]:
Total_price = int(input())
if Total_price > 20000:
    discount = Total_price *.20
    print("discount will be ", discount)
elif Total_price <= 7000:
    discount = Total_price *.05
    print("discount will be ", discount)
else:
    print("there will be no discount")

discount will be  1.1500000000000001

In [20]:
coupon = input()
if coupon == "ADVI":
    print("you will be able to get a discount of 5%")
    paid_amount = 7080 - 7080*0.05
    print("you will be able to get one neuron with this amount ", paid_amount)
else:
    print("kindly use a valid coupon code")

kindly use a valid coupon code

In [21]:
# PLAN MY STUDY
study_hour = int(input())
if study_hour<2:
    print ("it may take 9-9 months of time to make a trasition")
elif study_hour <4 and study_hour >1:
    print("it may take 6 months for tansition")
elif study_hour > 10: 
    print(" it will take 3 months of time to make transition")
else:
    print("it will be difficult")

 it will take 3 months of time to make transition

In [22]:
# Write a code in single line
a = 9 
if a == 9 : print ("valid")

valid

In [23]:
# Nested if and elif statement  
s = input("Enter a string to start")
course = input(" Enter the course name")
service = input("Enter the service name")
if s  == "adviteeya":
    if course == "DSA":
        print("yes its available under adviteeya and in multiple mode for job preparation")
    elif course == " blockchain":
        print(" this is not available as of now, kindly raise your demand we will fulfill")
    elif course == "FSDS":
        print(" yes it is available , you can start learning ")
    else:
        print(" course not available")
elif s == "shrav":
    if service == "Enquiry" :
        print(" Enter the enquiry in details")
    elif service == "CourseInfo":
        print("Enter the course details")
else:
    print("There are no available course please raise a request we will fulfill ASAP")

There are no available course please raise a request we will fulfill ASAP

## While Loop and For Loop

In [24]:
l = [1,2,3,4,5,6,7]
# Extract all the no. one by one and try to perform any operations on each numbers
for i in l:
    print(i)

1
2
3
4
5
6
7

In [25]:
s = "adviteeya"
for i in s:
    print(i)

a
d
v
i
t
e
e
y
a

In [26]:
# Complex for loop 
# We can extract data from any data types

t = (1,2,3,4,5,6)

In [27]:
for i in t:
    print(i)

1
2
3
4
5
6

In [28]:
l = [1,3.2222,4,5,5.6, 5+4j, "adviteeeya"]
# print datatype of each and every element in l

In [29]:
for i in l:
    print(type(i), "type of ", i)

<class 'int'> type of  1
<class 'float'> type of  3.2222
<class 'int'> type of  4
<class 'int'> type of  5
<class 'float'> type of  5.6
<class 'complex'> type of  (5+4j)
<class 'str'> type of  adviteeeya

In [30]:
l = [1,2,3,4,4]
for i in l:
    print(i+2)

3
4
5
6
6

In [31]:
# Print in the list 
l1= []
l = [1,2,3,4,4]
for i in l:
    print(i+2)
    l1.append(i+2)

3
4
5
6
6

In [32]:
l1

[3, 4, 5, 6, 6]

In [33]:
l = [2,3,445,"sudh", 6+6j, [45,67,89]]
# extract only integer

In [34]:
for i in l:
    if type(i) == int:
        print(i)

2
3
445

### For else statement
- found only in python

In [35]:
l = [2,3,56,56,56,445,"sudh", 6+6j, [45,67,89, "sdfsdfsd"], "sadfasdfsdf"]
# q1. try to print index of all the elements 
# q2. extract all the list of char if element is string
# q3 return a list after doing a square of all the int elemnt

In [36]:
# q1. try to print index of all the elements 
for i in range(len(l)):
    print("index",i, "for an element", l[i])

index 0 for an element 2
index 1 for an element 3
index 2 for an element 56
index 3 for an element 56
index 4 for an element 56
index 5 for an element 445
index 6 for an element sudh
index 7 for an element (6+6j)
index 8 for an element [45, 67, 89, 'sdfsdfsd']
index 9 for an element sadfasdfsdf

In [37]:
# enumerate returns the tuples of its own element
for i in enumerate(l):
    print(i)

(0, 2)
(1, 3)
(2, 56)
(3, 56)
(4, 56)
(5, 445)
(6, 'sudh')
(7, (6+6j))
(8, [45, 67, 89, 'sdfsdfsd'])
(9, 'sadfasdfsdf')

In [38]:
# enumerate returns the tuples of its own element
for i,j in enumerate(l):
    print(i,j)

0 2
1 3
2 56
3 56
4 56
5 445
6 sudh
7 (6+6j)
8 [45, 67, 89, 'sdfsdfsd']
9 sadfasdfsdf

In [39]:
# q2. extract all the list of char if element is string

for i in l:
    if type(i) == str:
        ls = []
        for j in i:
            ls.append(j)
        print(ls)

['s', 'u', 'd', 'h']
['s', 'a', 'd', 'f', 'a', 's', 'd', 'f', 's', 'd', 'f']

In [40]:
#q3 return a list after doing a square of all the int elemnt
li = []
for i in l:
    if type(i) == int:
        li.append(i**2)

In [41]:
li

[4, 9, 3136, 3136, 3136, 198025]