## Ranges of the dataset 
### Start : End : Step
### String slicing operations

In [2]:
s = "adviteeya"
type(s)

str

In [3]:
## To access some character out of string 
# Reading a book extract a word, paragraph, line etc. 

# Extract s 
s[0], s[1],s[2]

# it creates an indexes internally.
# it creates the indexes in the forward direction 0 ,1,2,3 etc and in backward direction -1,-2,-3 etc.

('a', 'd', 'v')

In [4]:
s[-1],s[-2],s[-3]

('a', 'y', 'e')

In [5]:
# Extract range of characters 
a = "My name is adviteeya and i am a data engineer"

In [6]:
a[0:11], a[1:4],a[0:3], a[0:9]
# upper bound is excluded every time
# it counts the space and special characters

('My name is ', 'y n', 'My ', 'My name i')

In [7]:
a[0:300], a[-1],a[-10]
# if there is a range it will work but for individual index it will give an error e.g. s[300]

('My name is adviteeya and i am a data engineer', 'r', 'a')

In [8]:
# Start:end:jump
# by default jump size / step size is 1
a[0:200:1], a[0:200:2],a[0:300:3]

('My name is adviteeya and i am a data engineer',
 'M aei diey n  madt nier',
 'Mnesdtya aaa ge')

In [9]:
a[0:300:-1]
# Here we are tying to jump in the negative direction therefore the answer is blank. 
# So there is a conflict so there is no data. Use the scaling concept

''

In [10]:
a

'My name is adviteeya and i am a data engineer'

In [11]:

a[-1:-4], a[-1:-4:-1], a[-1:-100:-2],a[::]
# By default jump is positive one.

('',
 'ree',
 'rein tdam  n yeid iea M',
 'My name is adviteeya and i am a data engineer')

In [12]:
b = "adviteeya"

In [13]:
b[-1:-4], b[-1:-4:-1], b[-1:-100:-2],b[-2:],b[:8],b[-2:-1],b[::-1],b[-1::-1]

('', 'aye', 'aetva', 'ya', 'adviteey', 'y', 'ayeetivda', 'ayeetivda')

In [14]:
# Print reverse of the string
c = " I am working at coforge Ltd."
c[::-1]

'.dtL egrofoc ta gnikrow ma I '

### Range functions

In [15]:
"adviteeya"*3, "adviteeya"+"shrav"
#repeat and concatenate

('adviteeyaadviteeyaadviteeya', 'adviteeyashrav')

In [16]:
a

'My name is adviteeya and i am a data engineer'

In [17]:
len(a)
# lenght of stirng with space

45

In [18]:
a.find('a'),a.find('i'),a.find('d'),a.find('ai'),a.find('am')
# returns the index of the character 
# it returns the index of very first occurence 
# if some combination is not available it returns -1

(4, 8, 12, -1, 4)

In [19]:
a.count('a'),a.count('x'),a.count('l')
# retruns the number of occurences in a string

(8, 0, 0)

In [20]:
# separate the entire split or separate 
a.split()
# it returns a list data type

['My', 'name', 'is', 'adviteeya', 'and', 'i', 'am', 'a', 'data', 'engineer']

In [21]:
type(a.split())

list

In [22]:
d = a.split()

In [23]:
d[0],d[2],d[4],d[4],d[5]

('My', 'is', 'and', 'and', 'i')

In [24]:
a

'My name is adviteeya and i am a data engineer'

In [25]:
a.split("v")
# by default split used whitepace as a delimiter

['My name is ad', 'iteeya and i am a data engineer']

In [26]:
a.split("a")

['My n', 'me is ', 'dviteey', ' ', 'nd i ', 'm ', ' d', 't', ' engineer']

In [27]:
a.split("an")

['My name is adviteeya ', 'd i am a data engineer']

In [28]:
a.upper()

'MY NAME IS ADVITEEYA AND I AM A DATA ENGINEER'

In [29]:
e = "adVITeeYa"

In [30]:
e.swapcase()
# converts upper to lower and vice-versa

'ADvitEEyA'

In [31]:
e.title()

'Adviteeya'

In [32]:
e.capitalize()

'Adviteeya'

In [33]:
e,b,c,d,e

('adVITeeYa',
 'adviteeya',
 ' I am working at coforge Ltd.',
 ['My', 'name', 'is', 'adviteeya', 'and', 'i', 'am', 'a', 'data', 'engineer'],
 'adVITeeYa')

In [34]:
e.join(b)

'aadVITeeYadadVITeeYavadVITeeYaiadVITeeYatadVITeeYaeadVITeeYaeadVITeeYayadVITeeYaa'

In [35]:
" ".join("adi")

'a d i'

In [36]:
for i in reversed("adi"):
    print(i)

i
d
a

In [37]:
f = "adi"
f[::-1]

'ida'

In [38]:
g = "  sandhya  "

In [39]:
g.lstrip(),g.rstrip()

('sandhya  ', '  sandhya')

In [40]:
g.replace("s", "b"),g.replace("s", "asdf")

('  bandhya  ', '  asdfandhya  ')

In [41]:
"adviteeya \ hrav".expandtabs()

'adviteeya \\ hrav'

In [42]:
g.center(40 , 't'), g.center(40 , '#')

('tttttttttttttt  sandhya  ttttttttttttttt',
 '##############  sandhya  ###############')

In [43]:
g

'  sandhya  '

In [44]:
g.isupper(),g.islower(),g.isspace(),g.isdigit(),g.endswith('a'),g.endswith(""),g.startswith(""),g.istitle(),g.encode()
# function starts with is gives boolen results
# enocde notation for utf=8
#shift jis encoding

(False, True, False, False, False, True, True, False, b'  sandhya  ')

### Other data types 
### LIST 

- List is a collection of multiple objects (homogeneous or heterogeneous)
- It can hold multiple datatypes
-

In [45]:
l = ["adviteeya", "233223", 4+8j, True, 34324.4534]
type(l)

list

In [46]:
## How to access data in a list 
s = "sdfa asdfa asdfas asdfa erqewr oiupo"

In [47]:
l[0],l[-1],l[0:4], l[::-1], l[-1:6]

('adviteeya',
 34324.4534,
 ['adviteeya', '233223', (4+8j), True],
 [34324.4534, True, (4+8j), '233223', 'adviteeya'],
 [34324.4534])

In [48]:
# Extract a from adviteeya from the list l 
l[0][0], l[2].real

('a', 4.0)

In [49]:
l1 = ["adfad", "asd", 34324]
l2 = ["wqer", "sdf", 3434.45]

In [50]:
l1+l2

['adfad', 'asd', 34324, 'wqer', 'sdf', 3434.45]

In [51]:
# l1+ sudh will give an error due to different data types# But
l1+["adi"]

['adfad', 'asd', 34324, 'adi']

In [52]:
l1*3
# repetition of elements

['adfad', 'asd', 34324, 'adfad', 'asd', 34324, 'adfad', 'asd', 34324]

In [53]:
l1

['adfad', 'asd', 34324]

In [54]:
# replace asd with your name
# we can replace with the below command
# in list it is possible but in case of string it is not possible
# this concept is called mutability and immutability
# therefore list is mutable and string is an immutable entity 
# we cannot replace one single character from the string 
# if i am able to change something at some index then it is mutable

l1[1] = " adviteeya "

In [55]:
l1

['adfad', ' adviteeya ', 34324]

In [56]:
# replace a from adviteeya with b 

l1[1]

' adviteeya '

In [57]:
len(l1)

3

In [58]:
l1

['adfad', ' adviteeya ', 34324]

In [59]:
" adviteeya " in l1

True

In [60]:
l

['adviteeya', '233223', (4+8j), True, 34324.4534]

In [61]:
l2

['wqer', 'sdf', 3434.45]

In [62]:
# How to add data in a list 
l2.append("sandhya")

In [63]:
l2

['wqer', 'sdf', 3434.45, 'sandhya']

In [64]:
l2.pop()

'sandhya'

In [65]:
l2

['wqer', 'sdf', 3434.45]

In [66]:
l2.append("sandhya")

In [67]:
l2.pop(2)

3434.45

In [68]:
l2

['wqer', 'sdf', 'sandhya']

In [69]:
l2

['wqer', 'sdf', 'sandhya']

In [70]:
l2.append(23423)

In [71]:
l2

['wqer', 'sdf', 'sandhya', 23423]

In [73]:
l2.insert(0,"advi")

In [74]:
l2

['advi', 'wqer', 'sdf', 'sandhya', 23423]

In [75]:
l2.insert(4,[23,2,23,23,4,54,54,45,])

In [76]:
l2

['advi', 'wqer', 'sdf', 'sandhya', [23, 2, 23, 23, 4, 54, 54, 45], 23423]

In [79]:
# insert function insert anywhere as per the given index 
# append always insert at the end
l2.reverse()

In [80]:
l2

[23423, [23, 2, 23, 23, 4, 54, 54, 45], 'sandhya', 'sdf', 'wqer', 'advi']

In [82]:
l2[1][3]

23

In [85]:
l2.count('sdf')

1

In [86]:
l2.append([23,23,2,32,3,23])

In [87]:
l2

[23423,
 [23, 2, 23, 23, 4, 54, 54, 45],
 'sandhya',
 'sdf',
 'wqer',
 'advi',
 [23, 23, 2, 32, 3, 23]]

In [88]:
l1

['adfad', ' adviteeya ', 34324]

In [91]:
l1.extend([1,23,'sdfasd'])
# it unwrap the list and then insert here it is similar to append but difference in wrapping

In [90]:
l1

['adfad', ' adviteeya ', 34324, 1, 23, 'sdfasd']

In [92]:
l1

['adfad', ' adviteeya ', 34324, 1, 23, 'sdfasd', 1, 23, 'sdfasd']

In [93]:
list("sudh")

['s', 'u', 'd', 'h']

In [94]:
[2,3,4,5,6,7] + [4,5,6,7,8]

[2, 3, 4, 5, 6, 7, 4, 5, 6, 7, 8]

In [95]:
"asdf asdf sdf sdf asdf sdf asdf adf fd".split('a')

['', 'sdf ', 'sdf sdf sdf ', 'sdf sdf ', 'sdf ', 'df fd']

In [96]:
3+4j

(3+4j)

In [99]:
"asfasfas\tasdfasdf\tsdfasdfasf\tasdfasdf\tasdfasdf\tsdfsadf".expandtabs()

'asfasfas        asdfasdf        sdfasdfasf      asdfasdf        asdfasdf        sdfsadf'