In [1]:
l = [ " adviteeya", "shravadviteeya70@gmail.com"]

In [2]:
while a <5:
    pass

NameError: name 'a' is not defined

In [ ]:
while a <4:
    break:

In [3]:
a =1

In [4]:
while a <4:
    continue

KeyboardInterrupt:

In [6]:
# RANGE FUNCTION 
# RANE GENERATE A DATA 

range(6)
# it will print the data from 0 to 5 excluding 6

range(0, 6)

In [7]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [1]:
list(range(3,50,2))

[3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [2]:
list(range(3,10,-1))

[]

In [3]:
list(range(10,6,-1))

[10, 9, 8, 7]

In [4]:
list(range(10,-6,-2))

[10, 8, 6, 4, 2, 0, -2, -4]

In [5]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [6]:
for i in range(10,-6,-2):
    print(i)

10
8
6
4
2
0
-2
-4

In [1]:
# Try to create a triangular structure 
n = 5
for i in range(0,n):
    for j in range(0,i+1):
        print("*", end = "")
    print("")

*
**
***
****
*****

In [2]:
n = 5
for i in range(0,n):
    for j in range(0,i+1):
        print("*", end = "")
    print("")

*
**
***
****
*****

In [3]:
l = [1,2,3,4,5,6,78,9]
for i in l:
    print(i)

1
2
3
4
5
6
78
9

In [6]:
t = (1,2,3,4,5,6)
for i in range(len(t)):
    print(i, t[i])

0 1
1 2
2 3
3 4
4 5
5 6

range(6, 0, -1)

In [14]:
t = (1,2,3,4,5,6)
for i in range(len(t),0,-1):
    print(i)

6
5
4
3
2
1

In [15]:
for i in range(len(t)-1,-1,-1):
    print(t[i])

6
5
4
3
2
1

In [18]:
d = {"a": "adviteeya", "b": "asdfa", "c": "erwer", "d": [234234],"e":"zxczx"}

In [19]:
for i in d:
    print(i, d[i])

a adviteeya
b asdfa
c erwer
d [234234]
e zxczx

In [21]:
d.items()

dict_items([('a', 'adviteeya'), ('b', 'asdfa'), ('c', 'erwer'), ('d', [234234]), ('e', 'zxczx')])

In [22]:
for i in d.items():
    print(i)

('a', 'adviteeya')
('b', 'asdfa')
('c', 'erwer')
('d', [234234])
('e', 'zxczx')

In [26]:
s = {3,546,56,56,7,7,7,7,7,43,53,5,7,454,6786,44,44}

In [27]:
s

{3, 5, 7, 43, 44, 53, 56, 454, 546, 6786}

In [28]:
for i in s:
    print(i)

546
3
6786
5
454
7
43
44
53
56